{% extends "common/base.nav.html" %}

{% block content %}
    <div class="container" style="width:100%">
        <div class="row">

            <!-- 侧边栏 -->
            <div class="col-md-2"> 
                {% ifequal user_roleid 1 %}
                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>代码发布系统</a>
                                </h4>
                            </div>
<!--                            <div id="collapseThree" class="panel-collapse collapse {% if "hostlist" in request.path %} in {% endif %}">
--!>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href="#">发布状态</a></td></tr>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href="#">发布列表</a></td></tr>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href="#">回滚记录</a></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>

                  </div>

                {% endifequal %}
            </div>

            <!-- 内容区域 -->
            <div class="col-md-10">
                {% block rcontent %}{% endblock %}
            </div>

        </div>
    </div>
{% endblock %}
