{% extends "common/base.nav.html" %}

{% block content %}
    <div class="container" style="width:100%">
        <div class="row">

            <!-- 侧边栏 -->
            <div class="col-md-2"> 
                {% if user %}
                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>PE上线系统</a>
                                </h4>
                            </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "pe_platformlist" %}>Deplay Platform</a></td></tr>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "pe_platforminfo" %}>Platform Info</a></td></tr>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href="#">Maint Log</a></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>

                    </div>
                {% endif %}
            </div>

            <!-- 内容区域 -->
            <div class="col-md-10">
                {% block rcontent %}{% endblock %}
            </div>

        </div>
    </div>
{% endblock %}
